{% extends 'home.html' %}


{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Veuillez Remplir Le Formulaire</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form method="post">
                {% csrf_token %}

                <input type="text" name="numc" placeholder="N° De Carte"><br><br>
                <input type="text" name="pin" placeholder="PIN"><br><br>
                <input type="text" name="montant" placeholder="Montant"><br><br>


                <button type="submit" class="btn btn-default btn-flat">Ajouter</button>

            </form>
        </div>
        <!-- /.box-body -->

        <!-- /.box-footer-->
    </div>
{% endblock %}


